<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/images/logo_image.jpg" alt="Bijèh Kuphi Logo" />
    <a href="index.html">Bijèh<span>Kuphi</span></a>
  </div>

  <div class="navbar-nav">
    <a href="#hero" class="active">
      <i class="fas fa-home"></i>
      <span>Beranda</span>
    </a>
    <a href="#about">
      <i class="fas fa-users"></i>
      <span>Tentang Kami</span>
    </a>
    <a href="#menu">
      <i class="fas fa-utensils"></i>
      <span>Menu</span>
    </a>
    <a href="#products">
      <i class="fas fa-coffee"></i>
      <span>Produk</span>
    </a>
    <a href="#contact">
      <i class="fas fa-envelope"></i>
      <span>Kontak</span>
    </a>
  </div>

  <div class="navbar-extra">
    <a href="#cart-modal" id="shopping-cart" class="cart-icon">
      <i data-feather="shopping-cart"></i>
      <span class="cart-badge" id="cart-counter">0</span>
    </a>
    <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
  </div>
</nav>
